
@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Tilt Neon', cursive;
}
:root{
    --main1: #4a98f7;
    --main2: #fff;
}
body{
    padding: 0 30px;
}
#src-btn , .screenshot{
    position: fixed;
    left: 50%;
    transform: translate(-50%,-50%);
}
#src-btn{
    bottom: 15px;
    border: none;
    outline: none;
    background: var(--main1);
    font-size: 1rem;
    border-radius: 30px;
    padding: 15px 25px;
    color: var(--main2);
    cursor: pointer;
}
.src-preview{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    background: rgba(0, 0, 0, 0.65);
}
.src-preview.show{
    display: block;
}
.src-preview .screenshot{
    width: 70%;
    top: 50%;
    aspect-ratio: 16/9;
}
.screenshot img{
    width: 100%;
}
.screenshot .fa-solid {
    position: absolute;
    right: -25px;
    color: var(--main2);
    font-size: 1.5rem;
    cursor: pointer;
}
.screenshot #download{
    position: absolute;
    top: 25px;
    right: -29px;
}